:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.movie-title {
  white-space: normal;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-width: 100%;
  overflow: hidden;
  line-height: 1.3em;
  max-height: 2.6em;
  min-height: 2.6em;
  margin: 0.5em 0 0.2em 0;
  word-break: break-word;
}

.focus-box {
  background: linear-gradient(
    135deg,
    #393953 0%,
    var(--bg-color-secondary) 100%
  );
  padding: 10px 12px;
  border-radius: 8px;
  border-left: 4px solid var(--gradient-dark-blue);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}
.focus-box:hover {
  transform: translateX(0.1em);
  box-shadow: 0 2px 8px #3f3f3f;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
