:root {
  --bg-color: #242424;
  --bg-color-secondary: #2f2f2f;

  --color-dark-gray: rgb(255, 255, 255, 0.1);
  --color-gray: rgb(255, 255, 255, 0.33);
  --font-color-light-gray: rgb(255, 255, 255, 0.65);
  --font-color-gray-highlight: rgb(255, 255, 255, 0.8);
  --color-white: rgba(255, 255, 255, 0.95);
  --star-gold-color: #ffd700;
  --font-color-dark-blue: #3785fb;
  --color-dark-red: rgba(255, 0, 0, 0.66);

  --color-light-highlight: rgba(255, 255, 255, 0.02);

  --gradient-dark-blue: #2278fb;
  --gradient-light-blue: #65ddd9;

  color: var(--color-white);
  background-color: var(--bg-color);
}
